In [1]:
#!sudo python3 -m pip install mysqlclient
#!sudo python3 -m pip install np pandas matplotlib

In [1]:
!sudo systemctl stop g2048

In [2]:
import MySQLdb
import pandas as pd
import logging
from IPython.display import display, HTML
import db2048

In [3]:
db = MySQLdb.connect("localhost", "u2048", "u2048passord", init_command="use testDB")

In [4]:
db2048.drop_all_tables(db)

In [5]:
db2048.create_all_tables(db)
db2048.show_all_tables(db)

Empty DataFrame
Columns: [PLAY_ID, USER_ID, SCORE]
Index: []

Empty DataFrame
Columns: [USER_ID, NAME]
Index: []

Empty DataFrame
Columns: [USER_ID, VERSION]
Index: []

In [6]:
yuri_id, success = db2048.add_user(db, "Yuri Pechatnov")
sima_id, success = db2048.add_user(db, "Serafima")
kot_id, success = db2048.add_user(db, '"kot"')
db2048.add_play(db, yuri_id, 1536, 0)
db2048.add_play(db, sima_id, 2478, 0)
db2048.add_play(db, kot_id, 4, 0)

# vasya_id, success = db2048.add_user(db, "Testing Vasya")
# year_id, success = db2048.add_user(db, "Happy Year")
# for i in range(7):
#     db2048.add_play(db, vasya_id, 2 ** i, i)
# for i in range(5):
#     db2048.add_play(db, year_id, 3 ** i, i)

db2048.show_all_tables(db)

   PLAY_ID  USER_ID   SCORE
0        0        0  1536.0
1        1        1  2478.0
2        2        2     4.0

   USER_ID            NAME
0        0  Yuri Pechatnov
1        1        Serafima
2        2           "kot"

   USER_ID  VERSION
0        0        1
1        1        1
2        2        1

In [7]:
# slash_id, success = db2048.add_user(db, 
# db2048.add_play(db, slash_id, 4, 0)

In [8]:
!sudo systemctl start g2048

In [9]:
a = db.escape_string("Uiri' Pechatnov")

In [10]:
print(a.decode("utf-8"))

Uiri\' Pechatnov