In [1]:
import MySQLdb
import pandas as pd
import logging
from IPython.display import display, HTML
import db2048

In [2]:
db = MySQLdb.connect("localhost", "u2048", "u2048", init_command="use testDB")

In [3]:
db2048.drop_all_tables(db)

In [4]:
db2048.create_all_tables(db)
db2048.show_all_tables(db)

Empty DataFrame
Columns: [PLAY_ID, USER_ID, SCORE]
Index: []

Empty DataFrame
Columns: [USER_ID, NAME]
Index: []

Empty DataFrame
Columns: [USER_ID, VERSION]
Index: []

In [5]:
vasya_id, success = db2048.add_user(db, "Testing Vasya")
year_id, success = db2048.add_user(db, "Happy Year")
for i in range(7):
    db2048.add_play(db, vasya_id, 2 ** i, i)
for i in range(5):
    db2048.add_play(db, year_id, 3 ** i, i)

db2048.show_all_tables(db)

    PLAY_ID  USER_ID  SCORE
0         0        0    1.0
1         1        0    2.0
2         2        0    4.0
3         3        0    8.0
4         4        0   16.0
5         5        0   32.0
6         6        0   64.0
7         7        1    1.0
8         8        1    3.0
9         9        1    9.0
10       10        1   27.0
11       11        1   81.0

   USER_ID           NAME
0        0  Testing Vasya
1        1     Happy Year

   USER_ID  VERSION
0        0        7
1        1        5

Hello World!