In [1]:
!curl localhost:8789

curl: (7) Failed to connect to localhost port 8789: Connection refused

In [24]:
!curl "localhost:8789/rating?limit=1000"

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>NAME</th>
      <th>SCORE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sima</td>
      <td>1.000000e+09</td>
    </tr>
    <tr>
      <td>Sima</td>
      <td>1.000000e+08</td>
    </tr>
    <tr>
      <td>Pipa</td>
      <td>1.005000e+06</td>
    </tr>
    <tr>
      <td>Happy Year</td>
      <td>8.100000e+01</td>
    </tr>
    <tr>
      <td>Testing Vasya</td>
      <td>6.400000e+01</td>
    </tr>
    <tr>
      <td>Testing Vasya</td>
      <td>3.200000e+01</td>
    </tr>
    <tr>
      <td>Happy Year</td>
      <td>2.700000e+01</td>
    </tr>
    <tr>
      <td>Testing Vasya</td>
      <td>1.600000e+01</td>
    </tr>
    <tr>
      <td>Happy Year</td>
      <td>9.000000e+00</td>
    </tr>
    <tr>
      <td>Testing Vasya</td>
      <td>8.000000e+00</td>
    </tr>
    <tr>
      <td>Testing Vasya</td>
      <td>4.000000e+00</td>
    </tr>
    <tr>
      <td>Happy Year</td>
      <td>3.000000e+00</td>
    </tr>
    <tr>
      <td>Testing Vasya</td>
      <td>2.000000e+00</td>
    </tr>
    <tr>
      <td>Testing Vasya</td>
      <td>1.000000e+00</td>
    </tr>
    <tr>
      <td>Happy Year</td>
      <td>1.000000e+00</td>
    </tr>
  </tbody>
</table>

In [20]:
!curl "localhost:8789/add_user?name=Sima"

{"new": true, "success": true, "user_id": 5}

In [23]:
!curl "localhost:8789/add_play?user_id=5&score=1000000001&version=1"

{"success": false, "play_id": null}